**/*.aux
**/*.bbl
**/*.blg
**/*.loe
**/*.lof
**/*.log
**/*.lol
**/*.lot
**/*.lox
**/*.out
**/*.toc
**/*.synctex.gz
**/*.synctex(busy)
**/*.fdb_latexmk
**/*.fls
**/*.DS_Store
report.pdf
.DS_Store
.vscode
.idea

